.story {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: stretch;

}

.iconsSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4rem;
    padding-left: 5.5rem;
    padding-right: 5.5rem;
    margin-top: 3.2rem;
    gap: 30px;


}






@media (max-width: 1024px) {

    .story {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .iconsSection {
        padding: 3rem 2.5rem;
        gap: 25px;
    }
}

/* =========================
   MOBILE STYLES
========================= */

@media (max-width: 768px) {

    .story {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .iconsSection {
        flex-direction: column;
        padding: 2rem 1.5rem;
        gap: 20px;
        text-align: center;
    }
}