.stor {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: white;
    filter: brightness(0.8);



}

.titlePara {
    padding: 2rem;
    padding-left: 3rem;
    padding-bottom: 1rem;
    isolation: isolate;
}

.titlePara h1 {
    margin-bottom: .5rem;
    font-weight: 900;
    font-size: clamp(18px, 20px, 28px);
}


hr {
    border: none;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    margin-bottom: 1rem;
    align-self: center;
    justify-self: center;
    margin-top: .5rem;
}

.readStory {
    display: flex;
    justify-content: space-between;
}


.readStory h3 {
    font-weight: 600;
}