.stor {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: white;
    filter: brightness(0.8);
    cursor: pointer;

    transition: transform 0.25s ease, filter 0.25s ease;
}

.stor:hover {
    transform: translateY(-2.1rem);
    filter: brightness(1);
    border-bottom: 4px solid rgb(135deg, #1e90ff, #ff2d2d, #ffb347);
}


.stor::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(135deg, #1e90ff, #ff2d2d, #ffb347);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.stor:hover::after {
    transform: scaleX(1);
}


.titlePara {
    padding: 2rem;
    padding-left: 3rem;
    padding-bottom: 1rem;
    isolation: isolate;
}

.titlePara h1 {
    margin-bottom: .5rem;
    font-weight: 900;
    font-size: clamp(18px, 20px, 28px);
}


hr {
    border: none;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    margin-bottom: 1rem;
    align-self: center;
    justify-self: center;
    margin-top: .5rem;
}

.readStory {
    display: flex;
    justify-content: space-between;
}


.readStory h3 {
    font-weight: 600;
}